.menulistDiv{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    font-size: 12px;
    font-weight: bolder;
}
.NavbarDiv{
    position: sticky;
    top: 0;
    background-color: white;
}
.NavbarUpperSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}
.NavbarUpperSectionRightPart{
    display: flex;
    gap: 10px;
    /* justify-content: space-around; */
    /* width: 40%; */
}

@media only screen and (min-width: 200px) and (max-width: 800px)  {
    .menulistDiv{
        width: 100%;
    }
    }